<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoldesCMMS">

        <!-- LoginActivity principal -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"> <!-- 👈 OBLIGATORIO -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ejemplo de otra Activity sin filtro -->
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- 👈 No tiene filtro, puede ser false -->

    </application>

</manifest>
