<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoldesCMMS">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividades de Operadores -->
        <activity
            android:name=".ui.OperadoresActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.OperadorFormActivity"
            android:parentActivityName=".ui.OperadoresActivity" />

        <!-- Actividades de Registro de Producción -->
        <activity
            android:name=".ui.RegistroProduccionActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.RegistroProduccionFormActivity"
            android:parentActivityName=".ui.RegistroProduccionActivity" />

        <!-- Actividades de Requerimientos de Insumo -->
        <activity
            android:name=".ui.RequerimientosInsumoActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.RequerimientoInsumoFormActivity"
            android:parentActivityName=".ui.RequerimientosInsumoActivity" />

        <activity
            android:name=".ui.RequerimientoInsumoDetailActivity"
            android:parentActivityName=".ui.RequerimientosInsumoActivity" />

        <!-- Actividades de Refacciones de Máquina -->
        <activity
            android:name=".ui.RefaccionesMaquinaActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.RefaccionMaquinaFormActivity"
            android:parentActivityName=".ui.RefaccionesMaquinaActivity" />

        <!-- Actividades de Moldes -->
        <activity
            android:name=".ui.MoldesActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.TallerMoldesMainActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.MoldesListActivity"
            android:parentActivityName=".ui.TallerMoldesMainActivity" />

        <activity
            android:name=".ui.MoldeFormActivity"
            android:parentActivityName=".ui.MoldesListActivity" />

        <!-- Actividades de Mantenimientos -->
        <activity
            android:name=".ui.MantenimientosActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.MantenimientosListActivity"
            android:parentActivityName=".ui.TallerMoldesMainActivity" />

        <activity
            android:name=".ui.MantenimientoFormActivity"
            android:parentActivityName=".ui.MantenimientosListActivity" />

        <!-- Actividades de Solicitudes -->
        <activity
            android:name=".ui.SolicitudesActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.SolicitudesMantenimientoListActivity"
            android:parentActivityName=".ui.TallerMoldesMainActivity" />

        <activity
            android:name=".ui.SolicitudMantenimientoFormActivity"
            android:parentActivityName=".ui.ProduccionMainActivity" />

        <activity
            android:name=".ui.SolicitudMantenimientoMaquinaFormActivity"
            android:parentActivityName=".ui.ProduccionMainActivity" />

        <activity
            android:name=".ui.SolicitudDetalleActivity"
            android:parentActivityName=".ui.SolicitudesMantenimientoListActivity" />

        <!-- Actividades de Máquinas -->
        <activity
            android:name=".ui.MaquinasActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.MaquinasListActivity"
            android:parentActivityName=".ui.MaquinasActivity" />

        <activity
            android:name=".ui.MaquinaFormActivity"
            android:parentActivityName=".ui.MaquinasListActivity" />

        <!-- Actividades de Calidad -->
        <activity
            android:name=".ui.CalidadActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.InspeccionesListActivity"
            android:parentActivityName=".ui.CalidadActivity" />

        <activity
            android:name=".ui.InspeccionFormActivity"
            android:parentActivityName=".ui.InspeccionesListActivity" />

        <!-- Actividades de Inventario -->
        <activity
            android:name=".ui.InventarioActivity"
            android:parentActivityName=".ui.MainActivity" />

        <!-- Actividades de Proveedores -->
        <activity
            android:name=".ui.ProveedoresActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.ProveedorFormActivity"
            android:parentActivityName=".ui.ProveedoresActivity" />

        <!-- Actividades de Preparación de Material -->
        <activity
            android:name=".ui.PreparacionMaterialActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.PreparacionMaterialFormActivity"
            android:parentActivityName=".ui.PreparacionMaterialActivity" />

        <!-- Actividades de Asignación de Producción -->
        <activity
            android:name=".ui.AsignacionProduccionActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.AsignacionProduccionFormActivity"
            android:parentActivityName=".ui.AsignacionProduccionActivity" />

        <!-- Actividades de Producción -->
        <activity
            android:name=".ui.ProduccionMainActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.ProductosListActivity"
            android:parentActivityName=".ui.ProduccionMainActivity" />

        <activity
            android:name=".ui.ProductoFormActivity"
            android:parentActivityName=".ui.ProductosListActivity" />

        <!-- Actividades de Herramientas -->
        <activity
            android:name=".ui.HerramientasListActivity"
            android:parentActivityName=".ui.TallerMoldesMainActivity" />

        <activity
            android:name=".ui.HerramientaFormActivity"
            android:parentActivityName=".ui.HerramientasListActivity" />

        <!-- Actividades de Refacciones -->
        <activity
            android:name=".ui.RefaccionesListActivity"
            android:parentActivityName=".ui.TallerMoldesMainActivity" />

        <activity
            android:name=".ui.RefaccionFormActivity"
            android:parentActivityName=".ui.RefaccionesListActivity" />

        <!-- Actividades de Órdenes de Compra -->
        <activity
            android:name=".ui.OrdenesCompraListActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.OrdenCompraFormActivity"
            android:parentActivityName=".ui.OrdenesCompraListActivity" />

        <!-- Actividad de Estadísticas -->
        <activity
            android:name=".ui.EstadisticasTallerActivity"
            android:parentActivityName=".ui.TallerMoldesMainActivity" />

        <activity
            android:name=".ui.EstadisticasActivity"
            android:parentActivityName=".ui.MainActivity" />

    </application>

</manifest>
